*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    color:#333;
    font-size:100%;
    font-family: Calibri;
}
.container{
    width:85%;
    margin: 0 auto;
}
.flex-container{
    display: flex;
    justify-content: space-between;
}
/* logo-bar start */
.container-fluid-2{
    height: 100px;
    background-color:#fff;
    position: fixed;
    z-index: 2;
}
.logo-bar{
    align-items: center;
    
}
.logo-img{
    width:20%;
}
.logo-img img{
    width:100%;
}
nav .nav-bar{
    width: 100%;
    /* background-color:rosybrown; */
}
 .nav-bar .dropdown{
    width:500px;
    padding:7% 0 4% 0;
    text-align: right;
    /* background-color:#f0f; */
 } 

.nav-bar .dropdown li{
    width:60%;
    text-transform: uppercase;
    list-style:none;
    font-size: 15px;
    /* font-weight: bold; */
    text-shadow: 0 0 1px #333;
    cursor: pointer;
    /* background-color:#ff0; */
}
.nav-bar .dropdown li:nth-child(3){
    width:80%;
}
.nav-bar .dropdown li:last-child{
    width:70%;
}
.nav-bar .dropdown li:nth-child(4){
    width:55%;
}
.nav-bar .dropdown li a{
    width:100%;
    color:#333;
    text-decoration: none;
}
/* logo-bar end */
/* bg-img starts */
.bg-img{
    background-image: url(../images/37.png);
    height:550px;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 0;
}
.bg-img h2{
    text-transform: uppercase;
    color:#fff;
    position: absolute;
    top:57%;
    left:8%;
    letter-spacing: 2px;
    font-weight: normal;
}

 .bg-list{
    width: 12%;
    text-align: center;
    font-size: 15px;
    text-transform: uppercase;
    /* border: 1px solid #333; */
    background-color:rgba(61, 54, 54,0.8);
    padding: 1.3% 1%;
    border-radius: 3px;
    position: relative;
    top:300px;
    left: 80%;
    font-weight: bold;
}
 .bg-list li{
    list-style: none;
    color:#fff;
}
.bg-list li a{
    text-decoration: none;
    color:#fff;
    cursor: pointer;
    font-weight: lighter;
    transition: 0.4s ease;
}
 .bg-list li a:hover{
    color:rgb(16, 78, 16);
    cursor: pointer;
}
/* bg-img end */

/* contact start */
.contact{
    width: 100%;
    padding-bottom: 10%;
}
.contact h1{
    text-align: center;
    padding-top:8%;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 2px;
    padding-bottom: 1%;
}
.contact hr{
    width: 5%;
    margin: 0 auto;
}
.contact-para{
    padding-top:10%;
    width: 100%;
    text-align:center;
}   
.contact-para .direction{
    width: 30%;
    margin-left:20px;
    /* border: 1px solid #333; */
} 
 .contact-para .direction i{
    font-size: 40px;
}
 .contact-para .direction h3{
    text-transform: uppercase;
    padding-top:10%;
    font-size: 20px;
    letter-spacing: 2px;
    font-weight: normal;
    padding-bottom: 5%;
}
.contact-para .direction p{
    color:gray;
    font-size:15px;
    line-height: 23px;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-para .direction ul li{
    list-style: none;
    font-size:15px;
    line-height: 23px;
}
.contact-para .direction ul li a{
    text-decoration: none;
    cursor: pointer;
    color:rgb(180, 96, 35);
    transition: 0.4s ease;
    font-family: Arial, Helvetica, sans-serif;
}
.contact-para .direction ul li a:hover{
    color:rgb(11, 53, 11);
}
/* contact end */
/* fill form start */
.fillform{
    width:70%;
    margin: 0 auto;
    position: relative;
    margin-bottom: 20%;
}
.fillform #first,#second,#third{
    width:100%;
    padding:1.5%;
    margin-bottom:2%;
    font-size:15px;
    border:1px solid lightgray;
}
.fillform button{
    width:21%;
    text-transform: uppercase;
    background-color: #000;
    color:#fff;
    padding:1.5%;
    margin-bottom: 10%;
    position: absolute;
    top:100%;
    left:40%;
    cursor: pointer;
}
.fillform #fourth{
    width:100%;
    height:20%;
    padding:1.5%;
    margin-bottom:2%;
    font-size:15px;
    border:1px solid lightgray;

}
/* fill form end */

/* information starts */
.container-fluid-1{
    background-color: #333;
}
.information{
    width: 100%;
    height: 75%;
    margin-top:2%;
    padding-bottom:10%;
    padding-top:3%;
    /* background-color:#ff0; */
    justify-content: space-between;
}
.information .link{
    width: 23%;
    height:50%;
}
.information .link h4{
    padding-bottom: 15%;
    color:#fff;
    text-transform: uppercase;
}
nav .nav-bar-mother .nav-bar-child{
    width:100%;
}
nav .nav-bar-mother .nav-bar-child li{
    width:100%;
    list-style: none;
    height:30%;
    padding:5% 10%;
    cursor: pointer;
    /* background-color: #f00; */
    border-bottom: 1px solid #fff;
}
nav .nav-bar-mother .nav-bar-child li a {
    text-decoration: none;
    color:gray;
}
nav .nav-bar-mother .nav-bar-child li a:hover{
    color:rgb(32, 129, 32);
    transition:0.2s ease;
}
.information .gallery{
    width:30%;
    /* background-color: #f00; */
}
.information .gallery h4{
    width:100%;
    color:#fff;
    text-transform: uppercase;
    padding-bottom:10%;
}
.gallery .photo{
    width:100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer;
}
.gallery .photo img{
    width: 32%;
    padding-bottom:2%;
    height:100px;
}
.information .foll{
    width: 30%;
    /* background-color: rosybrown; */
    color:#fff;
    position: relative;
}
.information .foll h4{
    width: 100%;
    text-transform: uppercase;
}
.information .foll i{
    font-size: 40px;
    width:15%;
    cursor: pointer;
    /* background-color: #f00; */
    position: absolute;
    top:40px;
    transition: 0.4s ease;
}
.information .foll i:hover{
    color:rgb(145, 122, 122);
}
.information .foll p{
    position: absolute;
    right: 220px;
    top:50px;
    color:rgb(180, 96, 35);
    cursor: pointer;
}
.information .foll p:hover{
    color:rgb(15, 97, 15);
}
/* information ends */
/* summary start */
.summary{
    width: 100%;
    background-color: #000;
}
.summary p{
    width:40%;
    /* background-color:#ff0; */
    margin: 0 auto;
    padding:3%;
    text-align: center;
}
.summary p a{
    text-decoration: none;
}
.summary p a:first-child{
    color:#fff;
}
.summary p a:first-child:hover,.summary p a:last-child:hover{
    color: rgb(6, 58, 6);
    transition: 0.8s ease;
}
.summary p a:last-child{
    color:#f00;
}
/* summary end */